<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/css/influencerDash.css">
  <title><%= pageTitle %></title>
</head>

<body>
  <div class="outer">
    <%- include('partials/influencerDashboard/sidenav.ejs') %>
    
      <div class="navpluscards">
        <%- include('partials/influencerDashboard/main_nav.ejs') %>
          <div class="revenuecards">
            <div class="revenuecards1">
              <div class="uppercard">
                <div class="linever"></div>
                <div class="onepart">
                  <div class="heading">Facebook</div>
                  <div class="number"><%= influencerData.fb %></div>
                </div>
                <div class="image"><img src="./Images/sellerPage/Facebook-logo.png" width="auto"
                    height="50px"></div>
              </div>
              <div class="text"><span class="fsttxt"><i class="fa-solid fa-arrow-up"></i> +9.5% </span><span class="ttwn">Since
                  last week</span></div>
          
            </div>
            <div class="revenuecards1">
              <div class="uppercard">
                <div class="linever"></div>
                <div class="onepart">
                  <div class="heading">Instagram</div>
                  <div class="number"><%= influencerData.insta %></div>
                </div>
                <div class="image"><img src="./Images/sellerPage/2.png" width="auto"
                    height="50px"></div>
              </div>
              <div class="text"><span class="fsttxt"><i class="fa-solid fa-arrow-up"></i> +9.5% </span><span class="ttwn">Since
                  last week</span></div>
          
            </div>
            <div class="revenuecards1">
              <div class="uppercard">
                <div class="linever"></div>
                <div class="onepart">
                  <div class="heading">Twitter</div>
                  <div class="number"><%= influencerData.twitter %></div>
                </div>
                <div class="image"><img src="./Images/sellerPage/3.png" width="auto"
                    height="50px"></div>
              </div>
              <div class="text"><span class="fsttxt"><i class="fa-solid fa-arrow-up"></i> +9.5% </span><span class="ttwn">Since
                  last week</span></div>
          
            </div>
            
          </div>
          <div class="graphs">
            <div class="graph1">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <div class="recent-invoices">
            <div class="bg">
              <div class="btnbox">
                <button id="prevButton"><i class="fa-solid fa-arrow-left"></i></button>
                <button id="nextButton"><i class="fa-solid fa-arrow-right"></i></button>
              </div>
              <input id="fld" class="inp" type="text" placeholder="Search..." />
            </div>

          </div>
      </div>
  </div>
</body>
<script src="/js/influencerDash.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>

</html>