<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/72fdfa8245.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main_navbar.css">
  <link rel="stylesheet" href="/css/LowerNavbarStyle.css">
  <link rel="stylesheet" href="/css/productCardStyle.css">
  <link rel="stylesheet" href="/css/productSearchPageStyle.css">
  <script src="/js/productCard.js"></script>

  <title>Search page</title>
</head>
<div id="overlay" onclick="overlayOff()"></div>

<body>
  <header>
    <%- include('partials/Navbars/nav1.ejs') %>
    <%- include('partials/Navbars/nav2.ejs') %>
    <%- include('partials/Navbars/nav3.ejs',{numberOfResults:productsData.length}) %>
  </header>
  <div class="mainBody row w-100">
    <div class="filtersLeft col-3 h-50">
      <h4 class="filtersHeadingText">Filters</h4>
      <div class="categoriesText">
        <h4 class="FiltersSubHeadingTitleText"> Categories</h4>
        <p class="filtersCategoriesText"> Backpacks</p>
        <p class="filtersCategoriesText"> Rucksacks & Trekking Backpacks</p>
        <p class="filtersCategoriesText"> Casual Daypacks</p>
        <p class="filtersCategoriesText"> Camping & Hiking</p>
        <p class="filtersCategoriesText"> Hiking Daypacks</p>
        <p class="filtersCategoriesText"> Portable Computer Bags & Sleeves</p>
        <p class="filtersCategoriesText"> Laptop Backpacks</p>
      </div>
      <form action="/filterProducts" method="get">
        <input type="hidden" name="q" value="<%= searchTerm %>">
        <button type="submit" class="btn btn-info ms-1 mt-4 ">Apply filters</button>
        <button type="reset" class="btn btn-info mt-4">Clear Filters</button>
        <div class="accordion mt-4">Customer Rating</div>
        <div class="panel">
          <div class="customerRating">
            <div class="form-check starSelection">
              <input class="form-check-input" type="radio" name="customerRating" id="5stars" value="5"><label class="form-check-label" for="5stars"> 5★ & above</label>
            </div>
            <div class="form-check starSelection">
              <input class="form-check-input" type="radio" name="customerRating" id="4stars" value="4"><label class="form-check-label" for="4stars"> 4★ & above</label>
            </div>
            <div class="form-check starSelection">
              <input class="form-check-input" type="radio" name="customerRating" id="3stars" value="3"><label class="form-check-label" for="3stars"> 3★ & above</label>
            </div>
            <div class="form-check starSelection">
              <input class="form-check-input" type="radio" name="customerRating" id="2stars" value="2"><label class="form-check-label" for="2stars"> 2★ & above</label>
            </div>
            <div class="form-check starSelection">
              <input class="form-check-input" type="radio" name="customerRating" id="1stars" value="1"><label class="form-check-label" for="1stars"> 1★ & above</label>
            </div>
            <div class="form-check starSelection">
              <input class="form-check-input" type="radio" name="customerRating" id="0stars" value="0"><label class="form-check-label" for="0stars"> 0★ & above</label>
            </div>
          </div>
        </div>
        <!-- <div class="accordion">Brands</div>
        <div class="panel">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Brand1" name="brandSelected" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Brand1
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Brand2" name="brandSelected" id="defaultCheck2">
            <label class="form-check-label" for="defaultCheck2">
              Brand2
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Brand3" name="brandSelected" id="defaultCheck3">
            <label class="form-check-label" for="defaultCheck3">
              Brand3
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Brand4" name="brandSelected" id="defaultCheck4">
            <label class="form-check-label" for="defaultCheck4">
              Brand4
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Brand5" name="brandSelected" id="defaultCheck5">
            <label class="form-check-label" for="defaultCheck5">
              Brand5
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Brand6" name="brandSelected" id="defaultCheck6">
            <label class="form-check-label" for="defaultCheck6">
              Brand6
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Brand7" name="brandSelected" id="defaultCheck7">
            <label class="form-check-label" for="defaultCheck7">
              Brand7
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Brand8" name="brandSelected" id="defaultCheck8">
            <label class="form-check-label" for="defaultCheck8">
              Brand8
            </label>
          </div>
        </div> -->
        <!-- <div class="accordion">Offers</div>
        <div class="panel">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="offer1" id="offerCheck1" name="offerSelected">
            <label class="form-check-label" for="OfferCheck1">
              Buy More Save More
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="offer2" id="offerCheck2" name="offerSelected">
            <label class="form-check-label" for="OfferCheck2">
              More than 50% off
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="offer3" id="offerCheck3" name="offerSelected">
            <label class="form-check-label" for="OfferCheck3">
              Today's special deals
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="offer4" id="offerCheck4" name="offerSelected">
            <label class="form-check-label" for="OfferCheck4">
              Promoted by Influencers
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="offer5" id="offerCheck5" name="offerSelected">
            <label class="form-check-label" for="OfferCheck5">
              Bulk Orders
            </label>
          </div>
        </div> -->
        <div class="accordion">Price</div>
        <div class="panel">
          <a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#priceFilterMenu" aria-expanded="false" aria-controls="priceFilterMenu">
            Filter by price
          </a>
          <div class="expand-lg collapse" id="priceFilterMenu">
            <h6 class="sidebar-heading d-none d-lg-block"></h6>
            <div class="mt-4 mt-lg-0 noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr" id="slider-snap">
            </div>
            <div class="nouislider-values">
              <div class="min">From ₹<span id="slider-snap-value-lower">0.00</span></div>
              <div class="max">To ₹<span id="slider-snap-value-upper">5000.00+</span></div>
              <input class="slider-snap-input" type="hidden" name="pricefrom" id="slider-snap-input-lower" value="0">
              <input class="slider-snap-input" type="hidden" name="priceto" id="slider-snap-input-upper" value="50000">
            </div>
          </div>
        </div>
        <div class="accordion">Influencers Choice</div>
        <div class="panel">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="InfluencersChoice" id="InfluencersChoice">
            <label class="form-check-label" for="InfluencersChoice">
              Include only those which are promoted by Influencers
            </label>
          </div>
        </div>
        <div class="accordion">Rugged Verified</div>
        <div class="panel">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="RuggedVerrified" name="RuggedVerrified">
            <label class="form-check-label" for="RuggedVerrified">
              Include only Rugged Verrified
            </label>
          </div>
        </div>
        <!-- <div class="accordion">Colour</div>
        <div class="panel"><a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#colourFilterMenu" aria-expanded="false" aria-controls="colourFilterMenu">Filter by colour</a>
          <div class="expand-lg collapse" id="colourFilterMenu">
            <h6 class="sidebar-heading d-none d-lg-block"></h6>
            <div class="mt-4 mt-lg-0">
              <ul class="list-inline mb-0 colours-wrapper">
                <li class="list-inline-item">
                  <label class="btn-colour" for="colour_sidebar_Blue" style="background-color: #668cb9" data-allow-multiple=""> </label>
                  <input class="visually-hidden" type="checkbox" name="colour" value="blue" id="colour_sidebar_Blue">
                </li>
                <li class="list-inline-item">
                  <label class="btn-colour" for="colour_sidebar_White" style="background-color: #fff" data-allow-multiple=""> </label>
                  <input class="visually-hidden" type="checkbox" name="colour" value="white" id="colour_sidebar_White">
                </li>
                <li class="list-inline-item">
                  <label class="btn-colour" for="colour_sidebar_Violet" style="background-color: #8b6ea4" data-allow-multiple=""> </label>
                  <input class="visually-hidden" type="checkbox" name="colour" value="violet" id="colour_sidebar_Violet">
                </li>
                <li class="list-inline-item">
                  <label class="btn-colour" for="colour_sidebar_Red" style="background-color: #dd6265" data-allow-multiple=""> </label>
                  <input class="visually-hidden" type="checkbox" name="colour" value="red" id="colour_sidebar_Red">
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="accordion">Availability</div>
        <div class="panel">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="availability" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Include only Available.
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="mainContent col-9" id="searchByAjaxDivDisplay" >
      <% for( let index = 0; index < productsData.length; index++ ) { %>
      <%- include('partials/productCardSearch.ejs',{productData:productsData[index],productRating:productsRatingArray[index],isLogin:isLoggedin}) %>
      <% } %>
    </div>
    <nav aria-label="Page navigation example">
  </div>
  <!-- <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul> -->
  </nav>
  <%- include('partials/Navbars/footer.ejs') %>
  <script src="js/script.js"></script>
  <script src="js/productSearchPageJS.js"></script>
  <script src="js/PriceSlider.js"></script>
  <script>
    var snapSlider = document.getElementById('slider-snap');

    noUiSlider.create(snapSlider, {
      start: [0, 5000],
      snap: false,
      connect: true,
      step: 1,
      range: {
        'min': 0,
        'max': 5000
      }
    });
    var snapValues = [
      document.getElementById('slider-snap-value-lower'),
      document.getElementById('slider-snap-value-upper')
    ];
    var inputValues = [
      document.getElementById('slider-snap-input-lower'),
      document.getElementById('slider-snap-input-upper')
    ];
    snapSlider.noUiSlider.on('update', function(values, handle) {
      snapValues[handle].innerHTML = values[handle];
    });

    snapSlider.noUiSlider.on('change', function(values, handle) {
      inputValues[handle].value = values[handle];
    });
  </script>
  <script src="/js/search.js" ></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>

</html>