<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/72fdfa8245.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main_navbar.css">
  <link rel="stylesheet" href="/css/LowerNavbarStyle.css">
  <link rel="stylesheet" href="/css/productCardStyle.css">
  <link rel="stylesheet" href="/css/productSearchPageStyle.css">
  <script src="/js/productCard.js"></script>

  <title>Search page</title>
</head>
<div id="overlay" onclick="overlayOff()"></div>
<!--overlay entire page whenever needed-->

<body>
  <header>
    <%- include('partials/Navbars/nav1.ejs') %>
    <%- include('partials/Navbars/nav2.ejs') %>
    <%- include('partials/Navbars/nav3.ejs') %>
  </header>
  <div class="mainBody row w-100">
    <div class="filtersLeft col-3 h-50">
      <h4 class="filtersHeadingText">Filters</h4>
      <div class="categoriesText">
        <h4 class="FiltersSubHeadingTitleText"> Categories</h4>
        <p class="filtersCategoriesText"> Backpacks</p>
        <p class="filtersCategoriesText"> Rucksacks & Trekking Backpacks</p>
        <p class="filtersCategoriesText"> Casual Daypacks</p>
        <p class="filtersCategoriesText"> Camping & Hiking</p>
        <p class="filtersCategoriesText"> Hiking Daypacks</p>
        <p class="filtersCategoriesText"> Portable Computer Bags & Sleeves</p>
        <p class="filtersCategoriesText"> Laptop Backpacks</p>
      </div>
      <button class="accordion">Customer Rating</button>
      <div class="panel">
        <div class="customerRating">
          <div class="form-check starSelection">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
            <label class="form-check-label" for="flexRadioDefault5">
              5★ & above
            </label>
          </div>
          <div class="form-check starSelection">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">
              4★ & above
            </label>
          </div>
          <div class="form-check starSelection">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              3★ & above
            </label>
          </div>
          <div class="form-check starSelection">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              2★ & above
            </label>
          </div>
          <div class="form-check starSelection">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              1★ & above
            </label>
          </div>
        </div>
      </div>
      <button class="accordion">Brands</button>
      <div class="panel">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Brand1
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Brand2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
          <label class="form-check-label" for="defaultCheck3">
            Brand3
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
          <label class="form-check-label" for="defaultCheck4">
            Brand4
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
          <label class="form-check-label" for="defaultCheck5">
            Brand5
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
          <label class="form-check-label" for="defaultCheck6">
            Brand6
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
          <label class="form-check-label" for="defaultCheck7">
            Brand7
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
          <label class="form-check-label" for="defaultCheck8">
            Brand8
          </label>
        </div>

      </div>
      <button class="accordion">Offers</button>
      <div class="panel">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="offerCheck1">
          <label class="form-check-label" for="OfferCheck1">
            Buy More Save More
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="offerCheck2">
          <label class="form-check-label" for="OfferCheck2">
            More than 50% off
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="offerCheck3">
          <label class="form-check-label" for="OfferCheck3">
            TOday's special deals
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="offerCheck4">
          <label class="form-check-label" for="OfferCheck4">
            Promoted by Influencers
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="offerCheck5">
          <label class="form-check-label" for="OfferCheck5">
            Bulk Orders
          </label>
        </div>
      </div>
      <button class="accordion">Price</button>
      <div class="panel">
        <a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#priceFilterMenu" aria-expanded="false" aria-controls="priceFilterMenu">
          Filter by price
        </a>
        <div class="expand-lg collapse" id="priceFilterMenu">
          <h6 class="sidebar-heading d-none d-lg-block"></h6>
          <div class="mt-4 mt-lg-0 noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr" id="slider-snap">
          </div>
          <div class="nouislider-values">
            <div class="min">From $<span id="slider-snap-value-lower">40.00</span></div>
            <div class="max">To $<span id="slider-snap-value-upper">110.00</span></div>
            <input class="slider-snap-input" type="hidden" name="pricefrom" id="slider-snap-input-lower" value="40">
            <input class="slider-snap-input" type="hidden" name="priceto" id="slider-snap-input-upper" value="110">
          </div>
        </div>
      </div>
      <button class="accordion">Influencers Choice</button>
      <div class="panel">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="InfluencersChoice">
          <label class="form-check-label" for="InfluencersChoice">
            Influencers Choice
          </label>
        </div>
      </div>
      <button class="accordion">Rugged Verified</button>
      <div class="panel">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="RuggedVerrified">
          <label class="form-check-label" for="RuggedVerrified">
            Include only Rugged Verrified
          </label>
        </div>
      </div>
      <button class="accordion">Colour</button>
      <div class="panel"><a class="d-lg-none block-toggler" data-bs-toggle="collapse" href="#colourFilterMenu" aria-expanded="false" aria-controls="colourFilterMenu">Filter by colour</a>
        <div class="expand-lg collapse" id="colourFilterMenu">
          <h6 class="sidebar-heading d-none d-lg-block"></h6>
          <div class="mt-4 mt-lg-0">
            <ul class="list-inline mb-0 colours-wrapper">
              <li class="list-inline-item">
                <label class="btn-colour" for="colour_sidebar_Blue" style="background-color: #668cb9" data-allow-multiple=""> </label>
                <input class="visually-hidden" type="checkbox" name="colour" value="value_sidebar_Blue" id="colour_sidebar_Blue">
              </li>
              <li class="list-inline-item">
                <label class="btn-colour" for="colour_sidebar_White" style="background-color: #fff" data-allow-multiple=""> </label>
                <input class="visually-hidden" type="checkbox" name="colour" value="value_sidebar_White" id="colour_sidebar_White">
              </li>
              <li class="list-inline-item">
                <label class="btn-colour" for="colour_sidebar_Violet" style="background-color: #8b6ea4" data-allow-multiple=""> </label>
                <input class="visually-hidden" type="checkbox" name="colour" value="value_sidebar_Violet" id="colour_sidebar_Violet">
              </li>
              <li class="list-inline-item">
                <label class="btn-colour" for="colour_sidebar_Red" style="background-color: #dd6265" data-allow-multiple=""> </label>
                <input class="visually-hidden" type="checkbox" name="colour" value="value_sidebar_Red" id="colour_sidebar_Red">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button class="accordion">Availability</button>
      <div class="panel">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Include out of Stock
          </label>
        </div>
      </div>
    </div>
    <div class="mainContent col-9">
      <%- include('partials/productCard.ejs') %>
    </div>
    <nav aria-label="Page navigation example">
  </div>
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
  </nav>
  <%- include('partials/Navbars/footer.ejs') %>
  <script src="js/script.js"></script>
  <script src="js/productSearchPageJS.js"></script>
  <script src="js/PriceSlider.js"></script>
  <script>
    var snapSlider = document.getElementById('slider-snap');

    noUiSlider.create(snapSlider, {
      start: [40, 1105],
      snap: false,
      connect: true,
      step: 1,
      range: {
        'min': 0,
        'max': 2500
      }
    });
    var snapValues = [
      document.getElementById('slider-snap-value-lower'),
      document.getElementById('slider-snap-value-upper')
    ];
    var inputValues = [
      document.getElementById('slider-snap-input-lower'),
      document.getElementById('slider-snap-input-upper')
    ];
    snapSlider.noUiSlider.on('update', function(values, handle) {
      snapValues[handle].innerHTML = values[handle];
    });

    snapSlider.noUiSlider.on('change', function(values, handle) {
      inputValues[handle].value = values[handle];
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>

</html>