<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main_navbar.css">
  <!-- <link rel="stylesheet" href="/css/LowerNavbarStyle.css"> -->
  <link rel="stylesheet" href="/css/wishList.css">
  <!-- <link rel="stylesheet" href="/css/product-card-scroll.css">
  <link rel="stylesheet" href="/css/product-card-scroll-2.css"> -->

  <script src="https://kit.fontawesome.com/72fdfa8245.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <!--for main page-->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="/js/wishscript.js"></script>
  <title></title>
</head>
<body style="background-color: white;">
  <header>
<%- include('partials/Navbars/nav1.ejs') %>
<%- include('partials/Navbars/nav2.ejs') %>

  </header>
<main>
<div class="container-just-below-nav">

    <div class="hc-1"> 
    <%- include('partials/wishList/navbar.ejs') %>
    </div>
    <div class="hc-2">
        <div class="hvc-1">
          <ul>
            <% if(wishLists.length >0) { %>
            <% for(let wishList of wishLists) {%>
            <li><a href="/wishList?wname=<%= wishList.name %>"><%= wishList.name %><div class="private-list">Private</div></a></li>
            <% } %>
            <% } %>
          </ul>
  
        </div>
        <div class="hvc-2">
          <% if (product.length > 0) { %>
            <% for (let products of product) { %>
            <%-include('partials/wishList/horizontalCard.ejs',{products:products}) %>
            <% } %>
            <% } %>
        </div>
    </div>
    <!-- <div class="slideupper">
      <div class="upperbox">
          <div class="leftssid">
              <div class="p1">Suggested for You</div>
              <div class="p2">Based on your Activity</div>
          </div>
          <div class="rightside upbox-view-btn ">
              <button type="button" class="btn  btn-info text-white">View More</button>
          </div>
      </div> -->
      <!-- <div class="product-slider-2">
          <div id="product-carousel" class="w-100 carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="product-wrapper d-flex flex-inline justify-content-around">
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="product-wrapper d-flex flex-inline justify-content-around">
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                    </div>
                    </div>
                    <div class="carousel-item">
                      <div class="product-wrapper d-flex flex-inline justify-content-around">
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                        <%-include('partials/wishList/verticleCardCarousel.ejs') %>
                      </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev hg" type="button" data-bs-slide="prev"
                  data-bs-target="#product-carousel">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </button>
              <button class="carousel-control-next hg" type="button" data-bs-slide="next"
                  data-bs-target="#product-carousel">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </button>
          </div>
      </div> -->
  <!-- </div> -->
  </div> 
  </main>  
  <%- include('partials/Navbars/footer.ejs') %>
</body>
</html>