<div id="overlay" onclick="overlayOff()"></div> <!--overlay entire page whenever needed-->
<nav class="container-fluid nav-main fixed-top">
  <div class="row">
      <div class="col-lg-2 col-sm-2">
          <div class="nav-link nav-logo " id="brand-logo" style="font-size: large;">
            <a href="/">
              <img src="LOGO/newLOGOTest/newLOGO_no_background.png" alt="" height="65em" width="120em">
            </a>
            </div>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-4">
        <div class="nav-search">
          <form action="/search" method="get" class="input-group" id="searchForm" onsubmit="searchByAjax()" >
            <input type="search" class="form-control" name="q" placeholder="Search Here..." aria-label="Search" onclick="overlayOn()" 
              id="nav-main-searchbar" />
            <button type="submit" class="btn bg-white">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
        <div class="d-flex">
          <div class="nav-wish nav-link d-flex-inline p-2 pt-3 m-2 ">
            <a href="/wishList" style="color: white;"> WishList </a>
          </div>
          <div class="nav-sign nav-link d-flex-inline ml-3 m-2">
            <div class="nav-line-1">
              <span class="small"><span class="fa fa-user"> </span> Hello! <%if(isLoggedin){%>
                  <%=user.firstname%>
                    <% }else{%>User<% } %></span>
            </div>
            <a tabindex="0" href="/<% isLoggedin?'/':'/login'%>" id="account-list" class="text-white">
              <div class="nav-line-2 signin-main">Account & Lists <span class="dropdown-toggle"></span>
            </a>
            <div id="sign-in-popover" class="hide">
              <div class="container account-list-popover d-flex flex-column p-3 align-items-center w-100 pt-0">
                <div class="upper-signin p-4 d-flex flex-column pb-2">
                  <button class="btn bg-info text-white">
                    <% if(isLoggedin){%><a href="/logout" style="color: white;"> Sign Out </a>
                      <% }else{%>
                        <a href="/login" style="color: white;"> Sign In! </a>
                        <% } %>
                  </button>
                  <% if(!isLoggedin){%>
                    <span class="small text-dark" style="font-size: x-small; margin-top: 0.5rem;">New Customer? <a
                        href="/signup" class="text-info">Start Here!</a> </span>
                    <% } %>
                </div>
                <% if(isLoggedin) { %>
                  <div class="account-lists d-flex flex-row border-top border-dark">
                    <div class="wishlist d-flex flex-column px-4 mx-2 py-3 mt-1" style="font-weight: lighter;">
                      <p class="mb-1 text-info" style="font-size: larger; font-weight: 550;">Your Lists</p>
                      <a class="small" href="/wishlist" rel="noopener noreferrer">Create a WishList</a>
                      <!-- <a class="small" href="/wishlist" rel="noopener noreferrer">Discover Your Style</a> -->
                      <% if(!user.isInfluencer) { %>
                        <a class="small" href="/becomeInfluencer" rel="noopener noreferrer">Become Influencer</a>
                      <%}%>
                      <a class="small" href="/blogPost" rel="noopener noreferrer">RUGGED+ BlogPost</a>
                    </div>
                    <div class="wishlist d-flex flex-column px-4 mx-2 py-3 mt-1" style="font-weight: lighter;">
                      <p class="mb-1 text-info" style="font-size: larger; font-weight: 550;">Your Account</p>
                      <a class="small" href="/userDashboard?id=<%=user._id%>" rel="noopener noreferrer">Your Account</a>
                      <a class="small" href="/returnsAndOrder" rel="noopener noreferrer">Your Orders</a>
                      <a class="small" href="/wishlist" rel="noopener noreferrer">Your WishList</a>
                      <!-- <a class="small" href="/returnsAndOrder#BuyAgain" rel="noopener noreferrer">Your Recommendation</a> -->
                      <% if(user.isInfluencer) { %>
                        <a class="small" href="/influencerDash" rel="noopener noreferrer">Influencer Dashboard</a>
                      <%}%>
                      <% if(user.isSeller) { %>
                        <a class="small" href="/dashboardSeller" rel="noopener noreferrer">Seller Dashboard</a>
                      <%}%>
                      <% if(user.isAdmin) { %>
                        <a class="small" href="/admin" rel="noopener noreferrer">Admin Dashboard</a>
                      <%}%>
                    </div>
                  </div>
                  <% } %>
      
              </div>
            </div>
          </div>
        </div>
        
        <div class="nav-returns nav-link d-flex-inline p-1 m-2">
          <div class="nav-line-1">
            <span class="small">Returns</span>
          </div>
          <div class="nav-line-2"><a href="/returnsAndOrder" style="color: white;"> &Orders </a></div>
        </div>
        <div class="nav-cart nav-link d-flex-inline p-2 ms-0 ">
          <div class="nav-line-2">
            <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
              <!-- <span class="small">
                                  <i class="fa fa-shopping-cart non-empty"
                                    style="font-size:33px"></i></span> -->
              <span class="material-icons " style="font-size: 36px;"> <!--material icon google-->
                shopping_cart
              </span></a> <!--need  to change non-empty class-->
          </div>
          <!-- Canvas down now -->
          <div class="offcanvas offcanvas-end bgclr" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
            aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
                <%if(isLoggedin){%>
                  <%=user.firstname%>
                    <% }else{%>User<% } %>'s Cart
              </h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <!-- BigBox -->
              <% if(isLoggedin) { %>
              <div class="whole-cart-window"><!-- add hide class to hide cart window-->
                <!-- <div class="heading"><p>Your Bag</p></div> -->
                <div class="cart-wrapper">
                  <% total=0 %>
                  <% if (cartprod.length > 0) { %>
                    <% for (let p of cartprod) { %>
                  <div class="cart-item" id="cart-item-1">
                    <img src=<%=p.productID.imagesURL[0] %> alt="rucksack">
                    <div class="details">
                      <h3><%= p.productID.name %></h3>
                      <p><%= p.productID.description %><br>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="quantity">Quantity: <%= p.quantity %></span>
                        <span class="price">Price: ₹<%= p.productID.price %>.00</span>
                        <% total+=p.productID.price %>
                      </p>
                    </div>
                    <form action="/deletefromCart" method="POST">
                      <button type="submit">
                    <div class="cancel"><i class="fa-regular fa-trash-can coll"></i></div>
                    </button>
                    <input type="hidden" name="productID" value="<%= p.productID._id %>">
                    </form>
                  </div>
                  <% } %>
                  <!-- item 2 -->
                  <!-- <div class="cart-item">
                    <img src="/Images/ProductImages/Rucksack1/image1.jpg" alt="Rucksack">
                    <div class="details">
                      <h3>RuckSack 2</h3>
                      <p>RuckSack for trekking...<br>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="quantity">Quantity: 1</span>
                        <span class="price">Price: ₹1000.00</span>
                      </p>
                    </div>
                    <div class="cancel"><i class="fa-regular fa-trash-can coll"></i></div>
                  </div> -->
                </div>
                <div class="subtotal">Delivery: ₹<%= 0.1*total   %></div>
                <div class="subtotal">Total: ₹<%= total %></div>
                <div class="cv">
                  <form action="/wishList" method="GET">
                  <button type="submit" class="btn btn-outline-secondary">View WishList</button>
                  </form>
                  <form action="/placeorder" method="POST">
                    <button type="submit" class="btn btn-primary">Checkout</button>
                  </form>
                </div>
              </div>
              <% } %>
              <% } %>
              <!-- BigBox Finish -->
            </div>
            <!-- Cart Dropover Finish -->
          </div>
        </div>
      </div>
  </div>
</nav>