<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="/css/sellDash.css">
  <link rel="stylesheet" href="/css/returnsAndOrdersStyle.css">
  <title>Returns and Orders</title>
</head>

<body>
  <div class="outer">
    <!-- <div class="myhidden"> -->
      <%- include('../navAndLeftbar/leftbar.ejs') %>
    <!-- </div> -->
    <div class="navpluscards">
      <%- include('../navAndLeftbar/userdashnavbar.ejs') %>
      <div class="col-xxl-12">
        <div class="ReturnOrderMainContent">
          <section class="main">
            <div class="container bg-white">
              <ul class="nav nav-tabs flex-column flex-sm-row" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link detail-nav-link active" data-bs-toggle="tab" href="#orders" role="tab" aria-selected="true">Orders</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link detail-nav-link" data-bs-toggle="tab" href="#BuyAgain" role="tab" aria-selected="false" tabindex="-1">Buy Again</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link detail-nav-link" data-bs-toggle="tab" href="#NotYetShipped" role="tab" aria-selected="false" tabindex="-1">Not Yet Shipped</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link detail-nav-link" data-bs-toggle="tab" href="#CancelledOrders" role="tab" aria-selected="false" tabindex="-1">Cancelled Orders</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane px-3 active show" id="orders" role="tabpanel">
                  <% if (orders.length > 0) { %>
                  <% orders.forEach(order => { %>
                  <section class="h-100 gradient-custom">
                    <div class="container py-5 h-100">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-10 col-xl-8">
                          <div class="card" style="border-radius: 10px;">
                            <div class="card-header px-4 py-5">
                              <h5 class="text-muted mb-0 OrderUpperText">Thanks for your Order with us ,<span class="orderEmp"><%= user.firstname %></span>!</h5>
                            </div>
                            <div class="card-body p-4">
                              <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0 orderEmp">Order-Details</p>
                                <p class="small text-muted mb-0">Order-ID : <%= order._id %></p>
                              </div>
                              <% var total=0 %>
                              <% order.products.forEach(p => { %>
                              <div class="card shadow-0 border mb-4">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-2">
                                      <img src=<%=p.product.imagesURL[0]%> class="img-fluid" alt="Phone">
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0"><%= p.product.name %></p>
                                    </div>
                                    <% var price= (p.product.price)*p.quantity %>
                                    <% total+=price %>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small"><%= p.product.color %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small"><%= p.product.description %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small">Qty: <%= p.quantity %></p>
                                    </div>
                                    <!-- <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small"> </p>
                                      </div> -->
                                  </div>
                                  <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                  <div class="row d-flex align-items-center">
                                    <div class="col-md-2">
                                      <!-- <p class="text-muted mb-0 small">Track Order</p> -->
                                    </div>
                                    <div class="col-md-10">
                                      <!-- <div class="progress" style="height: 6px; border-radius: 16px;">
                                              <div class="progress-bar progressBar gradient-custom-2" role="progressbar" aria-valuenow="65"
                                                aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                      <div class="d-flex justify-content-around mb-1">
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Give Feedback</p>
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Return/Replace</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <% }); %>
                              <div class="d-flex justify-content-between pt-2">
                                <p class="fw-bold mb-0">Order Details</p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> <%= total %></p>
                              </div>

                              <!-- <div class="d-flex justify-content-between pt-2">
                                  <p class="text-muted mb-0">Invoice Number : 788152</p>
                                  <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $19.00</p>
                                </div> -->

                              <div class="d-flex justify-content-between">
                                <p class="text-muted mb-0">Invoice Time: <%= order.date %></p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p>
                              </div>

                              <div class="d-flex justify-content-between mb-5">
                                <p class="text-muted mb-0">Order ID : <%= order._id %></p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
                              </div>
                              <div class="d-flex justify-content-between mb-5">
                                <p class="text-muted mb-0">Order Status : <%= order.Status %></p>
                              </div>
                            </div>
                            <div class="card-footer border-0 px-4 py-5 ordersLowerArea">
                              <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                                paid: <span class="h2 mb-0 ms-2"><%= total + 0.1*total %></span></h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <% }); %>
                  <% } %>
                </div>
                <div class="tab-pane" id="BuyAgain" role="tabpanel">
                  <div class="ll gradient-custom">
                    <% if (buyAgain.length > 0) { %>
                    <% buyAgain.forEach(order => { %>
                    <div class="need">
                      <div class="row row-cols-1 row-cols-md-4 g-4">
                        <% order.products.forEach(p => { %>
                        <div class="col">
                          <div class="card h-70">
                            <a href="#"><img src=<%=p.product.imagesURL[0]%> class="card-img-top" alt="Skyscrapers" />
                              <div class="card-body">
                                <h5 class="card-title"><%= p.product.name %></h5>
                                <div class="cover">
                                  <div class="btn btn-warning">Add to cart</div>
                                  <div class="btn btn-success">Buy Now</div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <% }); %>
                      </div>
                    </div>
                    <% }); %>
                    <% } %>
                  </div>
                </div>
                <div class="tab-pane" id="NotYetShipped" role="tabpanel">
                  <section class="vh-25 gradient-custom-2 NotYetShippedClass">
                    <div class="container py-5 h-100 NotYetShippedInnerClass">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <% if (notshippedOrders.length > 0) { %>
                        <% notshippedOrders.forEach(order => { %>
                        <div class="col-md-10 col-lg-8 col-xl-6 NotYetShippedProductCard">
                          <div class="card card-stepper" style="border-radius: 16px;">
                            <div class="card-header p-4">
                              <div class="d-flex justify-content-between align-items-center">
                                <div>
                                  <p class="text-muted mb-2"> Order ID <span class="fw-bold text-body"><%= order._id %></span></p>
                                  <p class="text-muted mb-0"> Place On <span class="fw-bold text-body"><%= order.date %></span> </p>
                                </div>
                                <div>
                                  <h6 class="mb-0"> <a href="#">View Details</a> </h6>
                                </div>
                              </div>
                            </div>
                            <% order.products.forEach(p => { %>
                            <div class="card-body p-4">
                              <div class="d-flex flex-row mb-4 pb-2">
                                <div class="flex-fill">
                                  <h5 class="bold"><%= p.product.name %></h5>
                                  <p class="text-muted"> Qt: <%= p.quantity %> item</p>
                                  <h4 class="mb-3"> $ <%= p.product.price %> <span class="small text-muted"> via (COD) </span></h4>
                                  <!-- <p class="text-muted">Tracking Status on: <span class="text-body">11:30pm, Today</span></p> -->
                                </div>
                                <div>
                                  <img class="align-self-center img-fluid" src=<%=p.product.imagesURL[0]%> width="250">
                                </div>
                              </div>
                              <div class="progress" style="height: 6px; border-radius: 16px;">
                                <div class="progress-bar progressBar gradient-custom-2 pb1" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
                                <!-- <li class="step0 active" id="step1"><span style="margin-left: 22px; margin-top: 12px;">PLACED</span></li>
                                  <li class="step0 active text-center" id="step2"><span>SHIPPED</span></li>
                                  <li class="step0 text-muted text-end" id="step3"><span style="margin-right: 22px;">DELIVERED</span></li> -->
                                <li class=""><span>PLACED</span></li>
                                <li class=" text-center"><span>SHIPPED</span></li>
                                <li class="text-end"><span>DELIVERED</span></li>

                              </ul>
                            </div>
                            <% }); %>
                            <div class="card-footer p-4">
                              <div class="d-flex justify-content-between">
                                <!-- <h5 class="fw-normal mb-0"><a href="#!">Track</a></h5> -->
                                <div class="border-start h-100"></div>
                                <form action="/CancelOrder" method="POST" id="rt">
                                  <h5 class="fw-normal mb-0" style="margin-left: 7.5vw;"><a href="#" onclick="document.getElementById('rt').submit();">Cancel</a></h5>
                                  <input type="hidden" name="ordercancel" value="<%= order._id %>">
                                </form>
                                <div class="border-start h-100"></div>
                                <!-- <h5 class="fw-normal mb-0"><a href="#!">Pre-pay</a></h5> -->
                                <div class="border-start h-100"></div>
                                <!-- <h5 class="fw-normal mb-0"><a href="#!" class="text-muted"><i class="fas fa-ellipsis-v"></i></a> -->
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }); %>
                        <% } %>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="tab-pane" id="CancelledOrders" role="tabpanel">
                  <div class="row">
                    <div class="col-lg-6">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>

</html>