<div class="product-slider">
  <div class="prod-category"
    style="background-image: url('public/Images/productSliderBG/png-transparent-cartoon-illustration-cartoon-snow-mountain-cartoon-character-blue-angle.png');">
    <div class="prod-category-head text-center">Trekking Essentials</div>
    <button class="shadow">View More</button>
  </div>
  <div id="prodcaro1" class="product-carousel carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="product-wrapper d-flex flex-inline justify-content-around">
          <%- include('product-card-slider.ejs') %>
            <%- include('product-card-slider.ejs') %>
              <%- include('product-card-slider.ejs') %>
                <%- include('product-card-slider.ejs') %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="product-wrapper d-flex flex-inline justify-content-around">
          <%- include('product-card-slider.ejs') %>
            <%- include('product-card-slider.ejs') %>
              <%- include('product-card-slider.ejs') %>
                <%- include('product-card-slider.ejs') %>
        </div>
      </div>
      <div class="carousel-item">
        <div class="product-wrapper d-flex flex-inline justify-content-around">
          <%- include('product-card-slider.ejs') %>
            <%- include('product-card-slider.ejs') %>
              <%- include('product-card-slider.ejs') %>
                <%- include('product-card-slider.ejs') %>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row">
      <button class="carousel-control-prev" type="button" data-bs-slide="prev" data-bs-target="#prodcaro1">
        <!-- <i class="fa fa-angle-left text-white" aria-hidden="true"></i> -->
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="slider-btn carousel-control-next" type="button" data-bs-slide="next" data-bs-target="#prodcaro1">
        <!-- <i class="fa fa-angle-right text-white" aria-hidden="true"></i> -->
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>